html {
    box-sizing: border-box;
}

html body {
    font-family: 'Courier New', Courier, monospace;

}

body {
    margin: 0;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



.calcHolder {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    border: 2px solid red;
    margin-top: 2rem;

}

.calcOutline {
    border: 2px solid black;
    width: 305px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.displayOutputContainer {
    border: 2px solid rgb(166, 166, 166);
    width: 350px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 42px;
    align-items: flex-end;
    align-self: flex-start;
}

.displayInput {
    width: 160px;
    height: 45px;
    display: inline-block;
    border: 2px solid orange;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 38px;
}

.displayInput::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

.displayInput::-webkit-scrollbar-thumb {
    /* width: 10px;
    height: 4px; */
    background-color: rgb(147, 147, 147);
    border-radius: 5px;
}

.displayResult {
    width: 155px;
    height: 45px;
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/* 
.clearButton,
.lastTwo {
    width: 70px;
    height: 78px;
    border: 1px solid rgb(95, 95, 95);
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 2px;
} */

button {
    width: 70px;
    height: 78px;
    border: 1px solid rgb(95, 95, 95);
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 2px;
}