html {
    box-sizing: border-box;
}

html body {
    font-family: 'Courier New', Courier, monospace;

}

body {
    margin: 0;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



.calcHolder {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    border: 2px solid red;
    margin-top: 2rem;

}

.calcOutline {
    border: 2px solid black;
    width: 305px;
    height: 475px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}

.displayOutputContainer {
    border: 2px solid rgb(166, 166, 166);
    width: 350px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 42px;
    align-items: flex-end;
    align-self: flex-start;
}

.displayInputContainer {
    /* width: 150px;
    height: 50px; */
    min-width: 155px;
    max-width: 200px;
    display: flex;
    border: 2px solid orange;
    justify-content: flex-end;

}

.displayInput {
    width: fit-content;
    min-width: 155px;
    max-width: 200px;
    height: 45px;
    margin: 0;
    /* display: flex; */
    align-items: flex-end;
    align-self: flex-end;
    justify-content: flex-end;
    border: 2px solid rgb(177, 218, 65);
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 28px;
    color: rgb(95, 95, 95);
}

.displayInput::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.displayInput::-webkit-scrollbar-thumb {
    /* width: 10px; */
    /* height: 10px; */
    background-color: rgb(165, 165, 165);
    border-radius: 5px;
}

.displayResult {
    /* width: 155px; */
    min-width: 155px;
    max-width: 200px;
    height: 45px;
    border: 1px solid blue;
    /* display: flex; */  /* Removes ability to use overflow scrool */
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.displayResult::-webkit-scrollbar {
    width: 10px;
    height: 3px;
    background-color: rgb(255, 255, 255);
}

.displayResult::-webkit-scrollbar-thumb {
    /* width: 10px; */
    /* height: 10px; */
    background-color: rgb(165, 165, 165);
    border-radius: 5px;
}


.decimal, .equalSign {
    width: 143px;
}

button {
    width: 69.25px;
    height: 69.4px;
    border: 1px solid rgb(95, 95, 95);
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 2px;
}